<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2>Restaurant App</h2>
    <div class="d-flex">
      <button class="btn btn-success">Add Restaurant</button>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <h1 class="display-4">Restaurant Management</h1>
  <p class="lead">Manage your list of restraunts</p>
  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<!-- Table Shown Here-->
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Restaurant</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
      <th scope="col">Services</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Ram</td>
      <td>Ram@gmail.com</td>
      <td>222</td>
      <td>Bengaluru</td>
      <td>Biryani center</td>
      <td>
        <button class="btn btn-info">Edit</button>&nbsp;
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
